@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap'); /*Silk screen*/

@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Silkscreen:wght@400;700&display=swap');/*Russo One*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background: linear-gradient(240.81deg, #0E0855 6.79%, #251120 67.77%, #1F0202 99.57%, #E1EDFF 100%);
}
.Parent
{
    display: flex;
    justify-content: space-between;
}
.Heading_task
{
    font-family: 'Russo-One', sans-serif;
    width:400px;
    
    font-size:30px;
    color:white;
    height:50px;
    display:flex;
    justify-content:center;
    padding:50px
}
.left
{
    width:750px;
    height:720px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    font-family: 'Russo-One', sans-serif;
    padding:300px;
    
}

.task
{
    font-size:20px;
    align-items:center;
    font-family: 'Russo-One', sans-serif;
    width:400px;
    font-size:30px;


    background: linear-gradient(133.41deg, #835555 26.56%, #7E8CB2 92.42%);
    opacity: 0.29;
    border: 3px solid #d9bdbd;



    height:50px;
    display:flex;
    justify-content:center;
    padding:50px
}
.right
{
    background-color: blue;
    color: white;
    display:flex;
    flex-direction:column;  
    width: 30vw;
    align-items: center;
    justify-content: space-evenly;
    /* align-items: center; */
    /* justify-content: left; */
    padding: 20px;
    font-family: 'Silkscreen', sans-serif;
}



.red_container{
    border: 1px solid red;
    width: 190.83px;
height: 213px;
    background-color: red;
    padding: 20px;
    
}
.details{
    /* Rectangle 13 */
    /* font-family:'Silkscreen',sans-serif; */
    width:347px;
    /* height:161px; */
    display:flex;
    margin-bottom: 30px;
    flex-direction: column;
    /* background-color: blue; */
    width: max-content;
    font-family: 'Russo-one',sans-serif;
    padding:10px;
    

}

.Missions{
    list-style-type: none;
    /* MISSIONS */


width: 228px;
height: 46px;
left: 1046px;
top: 486px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 46px;
/* identical to box height */
text-align: center;
letter-spacing: 0.11em;

background: linear-gradient(90deg, #FDF3F3 0%, #000000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* background-clip: text;
stext-fill-color: transparent; */


}
.red-card {
    /* Group 5 */

/* Group 5 */

/* Rectangle 9 */
/* 
    width: 300px;
    height: 88.3px;
    left: 970px;
    top: 553px;

    background: linear-gradient(90deg, #D91A1A 0%, #D8B9B9 77.6%); */






}
.myMission{

}
.Chechi
{

    background-color: black;
    border: 3px solid red;
    width:222px;
    height:198.43;
    
}
