@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap'); /*Silk screen*/

@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Silkscreen:wght@400;700&display=swap');/*Russo One*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    background: linear-gradient(240.81deg, #0E0855 6.79%, #251120 67.77%, #1F0202 99.57%, #E1EDFF 100%);
}

.Parent
{
    display: flex;
    justify-content: space-between;
}
.side-contents
{

    color: white;
    display:flex;
    flex-direction:column;  
    /* background-color: white; */
    width: 30vw;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
    justify-content: left;

    padding: 20px;
    
    

}
.left
{
    background-color: green;
    width:673px;
    height:720px;
    display:flex;
    flex-direction: column;
    justify-content:;
}
/* .red-container{
    
width: 190px;
height: 150px;
left: 900px;
top: 96px;
padding: 100px 100px;

background: #0F0404;
border: 1px solid #F13C3C;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */



.red_container{
    border: 1px solid red;
    width: 20px;
    height: 50px;
    background-color: red;
    padding: 100px 100px;
    
}
.details{
    /* Rectangle 13 */
    /* font-family:'Silkscreen',sans-serif; */
    width:347px;
    /* height:161px; */
    display:flex;
    margin-bottom: 30px;
    flex-direction: column;
    /* background-color: blue; */
    width: max-content;

}

.Missions{
    /* background-color: red; */
}

.Chechi
{

    height:190px;
    width:180px;
    background-color: black;
    border: 3px solid red;
    
}
